.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.content-container {
  flex: 1;
  padding: 0;
  position: relative;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

